{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog Site</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header>
    <h1><a href="{% url 'home' %}"> Sardorbek Blog</a></h1>
</header>
{% if user.is_authenticated %}
    <p>Wellcome! {{user.username}}</p>
    <p><a href="{% url 'logout' %}"> Log out</a></p>
{% else  %}
    <p><a href="{% url 'login' %}"> Log In</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
<div>
    {% block content %}
    {% endblock content %}
</div>
<footer>
    <p><a href="{% url 'add' %}"> Add new post</a></p>
</footer>
</body>
</html>